.container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;
}
.formulario{
    display:flex;
    flex-direction: column;
  
}
form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
app-listado{
    padding: 20px;
}
h2{
    margin-top: 20px;
    text-align: center;
}
